.written-logo{
    background: url("../assets/writtenLogo2.svg") no-repeat center;
    width: 6em;
    height: 18em;
    background-size: 100% 100%;
}

.written-logo-home{
    height: 3em;
    width: 3em;
}