.menu-button{
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
}
.box-dialog {
    padding: 1em;
    padding-left: 2em;
    padding-bottom: 3em;
    background-color: #fff;

}

@include bp("small") {
    .box-dialog {
        width: 50vw;
        padding-left: 3em;
        padding-bottom: 3em;
    }
}

.modal-icon-div {
    display: flex;
    margin-top: 1rem;

    a:nth-child(1) {
        margin-left: 0;
    }

    a {
        margin-left: 1rem;

        svg {
            font-size: 1.7em;
            height: auto;
        }
    }

}

.modal-icon-close {
    border: none;
    background-color: #fff;
    position: relative;
    left: auto;
    right: 1vw;
    margin-top: 1em;

    svg {
        width: 2.3em;
        height: auto;
    }

}

.modal-div h3 {
    margin: 0;
    font-weight: 500;
}

.modal-div {
    right: 0;
    font-weight: 600;
    max-width: 70vw;
    overflow: auto;

    a {
        font-size: 1.1em;

    }
}

.modal-link {

    font-size: 1.5rem;
    display: flex;
    align-self: center;
    width: max-content;
    border-radius: 1rem;
}

.modal-dialoga4 {
    padding-top: 1em;
    display: flex;
}

.a4 {

    padding-top: 1em;
    display: flex;
}

@include bp("small") {
    .modal-div {
        max-width: 80vw;
    }

    .modal-icon-close {
        svg {
            width: 3em;
        }

    }
}

@keyframes a1 {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.a1[data-reach-menu-list],
.a1[data-reach-menu-items] {
    border-radius: 5px;
    animation: slide-down 0.2s ease;
}



.modal-subscribe-div {
    // @include flex-column;
    justify-content: center;
    align-items: flex-start;
}

.modal-subscribe-div1 {
    width: min-content;
}

.modal-subscribe-form {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: 400;
}

.modal-subscribe-email {
    height: 2em;
    display: flex;
    padding: .5em;
    margin-bottom: 1rem;
    background-color: transparent;
    margin: 0;
    border: .1em solid;
}

.modal-subscribe-head {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 0;
    font-size: 1.4em;
}

.head1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.modal-subscribe-p {
    font-size: 1em;
}

.p1 {
    margin: 0;
    align-self: flex-start;
}

.modal-subscribe-submit {
    @include submit;
    width: 13.5em;
    opacity: 1;
}

.modal-subscribe-submit:hover {

}

.modal-subscribe-submitdisable {
    @include submit;
    width: 13.5em;
}

@media (min-width: 350px) {
    .modal-subscribe-head {
        font-size: 1.56em;
    }

    .modal-subscribe-p {
        font-size: 1em;
    }

}

@media (min-width: 600px) {
    .modal-subscribe-div {
        align-items: flex-start;
    }

    .modal-subscribe-form {
        display: initial;
        flex-direction: row;
        align-items: flex-start;
    }

    .modal-subscribe-head {
        justify-content: start;
        font-size: 2em;
    }

    .modal-subscribe-p {
        padding-left: 0;
        font-size: 1em;
    }

    .modal-subscribe-email {
        display: initial;
        margin-bottom: 0rem;
        margin-right: 1em;
        // width: 19em;
    }
}
