.english{
    padding-bottom: 5vh;

}
.englishHome2{
    background-color: #fff;
    padding: 2rem;
    .programContainer {
        display: flex;
        flex-direction: column;
        // padding: 1rem;
        border-radius: 2rem;
        background-color: $secondaryColor;
        margin-bottom: 2rem;

        h3 {
            font-size: 2rem;
            font-weight: 900;
            color: white;
            background-color: $mainColor;
            border-radius: 2rem;
            margin: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            padding: 2rem 2rem;
        }

        ol {
            padding: 0;
            margin: 0;
            padding: 2rem 3rem;
        }
    }
}
