.menuPage {
    display: flex;
    flex-direction: column;
    justify-content: center;



    li {
        text-decoration: none;
        list-style: none;
        padding-bottom: 5rem;
        padding-top: 5rem;
        display: flex;
        justify-content: center;
        &:nth-child(1){
            padding-top: 0;
        }
        div {
            max-width: 760px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}