



$mainColor: #043675;
$secondaryColor: #E1BD46;
$backgroundColor: #ffffff;
$textColor: #1b262c;
$textColor1: #adb6bb;



$linkColor:#ff7b00;

   

// for components

$buttonColor: $mainColor;



// 

$containerBackgroundColor: $backgroundColor;
$navColor: $backgroundColor;
$navLabelsColor: $textColor;
$socialProofBackgroundColor: #f4eeff;
$productBenefitsColor: $secondaryColor;
$productFeatureColor: $backgroundColor;
$testimonialsBackgroundColor: $secondaryColor;
$ctaBackgroundColor: $backgroundColor;



// layouts
$maxContainerWidth: 75rem;
